{% extends "base.html" %}
{% block content %}

    <div class="container-fluid">
        <div class="row align-items stretch">
            <div class="col-8">
                <p> My name is Oun Muhammad. I am a Data Analyst in Amazon. I am doing Master's in Data Science.
                    I created this website to present skills and technology
                    that I am learning in Course IS601 Web Sysytems Development.
                    List of Technologies that I used for my course project are followed:
                <ol>
                    <li>GitHub and Git</li>
                    <li>Docker and DockerHub</li>
                    <li>Python and Flask</li>
                    <li>CI/CD</li>
                    <li>Heroku</li>
                </ol>

                </p>
            </div>
            <div class="col-4">
                <img src="{{ url_for('static', filename='images/logo.jpg') }}"
                     class="img-fluid"
                     alt="me">
            </div>


        </div>
    </div>
{% endblock %}